<div class="row">
    <h4 class="text-primary p-lg-4 pt-2 col-12">Grand Child Compnent</h4>
    <p>Message goes hejre - @MessageForGrandChild</p>
</div>
@code {
    [Parameter]
    public string MessageForGrandChild{ get; set; }
}
