@page "/recipetype"

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-info">Recipe Type</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="recipeType/create" class="btn btn-info form-control">Add New Recipe Type</a>
    </div>
</div>

@code {

}
